<!-- Add edit button -->
<button type="button" class="editSaleButton btn ml-auto mr-1 no-outline p-0 p-md-2" data-toggle="modal" data-target="#editSale-<%=sale._id%>">
    <i class=" fa fa-pencil-square-o ml-3" aria-hidden="true"></i>
</button>

<!-- Add edit modal -->
<form action="/sale/<%=sale._id%>?_method=PATCH" method="POST">
    <div class="modal fade" id="editSale-<%=sale._id%>" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- modal header -->
                <div class="modal-header" style="padding-bottom: 0;">
                    <h5 class="modal-title" id="modalLabel">Edit Sale</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white;">&times;</span>
                    </button>
                </div>

                <!-- modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label" style="color: lightslategray"><strong>Name</strong></label>
                        <input name="name" type="text" class="form-control" id="recipient-name" value="<%=sale.name%>" required>
                    </div>
                    <div class="form-group row d-flex justify-content-between" style="padding: 0 1rem;">
                        <div class="form-group">
                            <label for="size-text" class="col-form-label" style="color: lightslategray"><strong>Size</strong></label>
                            <input name="size" type="text" class="form-control" id="size-text" value="<%=sale.size%>" required>
                        </div>
                        <div class="form-group">
                            <label for="price-text" class="col-form-label" style="color: lightslategray"><strong>Price</strong></label>
                            <input name="price" type="text" class="form-control" id="price-text" value="<%=sale.purchasedPrice%>" required>
                        </div>
                        <div class="form-group">
                            <label for="date-text" class="col-form-label" style="color: lightslategray"><strong>Date</strong></label>
                            <input name="date" type="text" class="form-control" id="date-text" value="<%=sale.purchasedDate%>" required>
                        </div>
                    </div>

                    <div class="form-group row d-flex justify-content-between" style="padding: 0 1rem;">
                        <div class="form-group">
                            <label for="buyer-text" class="col-form-label" style="color: lightslategray"><strong>Buyer</strong></label>
                            <input name="buyer" type="text" class="form-control" id="buyer-text" value="<%=sale.buyer%>" required>
                        </div>
                        <div class="form-group">
                            <label for="soldPrice-text" class="col-form-label" style="color: lightslategray"><strong>Price Sold</strong></label>
                            <input name="soldPrice" type="text" class="form-control" id="soldPrice-text" value="<%=sale.soldPrice%>" required>
                        </div>
                    </div>

                </div>

                <!-- modal footer -->
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn" style="background-color: lightslategray;" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn" style="background-color: rgb(121, 136, 242); color:white;">Submit</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>