<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts - Roboto -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--BootStrap 4-->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/inventory.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">

    <title>Stashed</title>
</head>

<body>
    <nav id="navbar" class="align-middle navbar navbar-dark navbar-expand-md fixed-top">
        <a id="navbar-logo" class="navbar-brand" href="#">
            <img src="/images/Icon2.png" width="50" height="50" class="align-middle">
        </a>

        <!--Collapse Nav When Dimensions Shrink-->
        <button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#navLinks">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--NavBar Links-->
        <div id="navLinks" class="collapse navbar-collapse">
            <!--Right Side Nav Bar-->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <img src="<%= currentUser.discordImage %>" style="border-radius: 25px" width="50" height="50">
                    </a>
                </li>
                <li class="nav-item d-flex">
                    <h5 class="align-self-center"><%= currentUser.name %></h5>
                </li>
            </ul>
        </div>
    </nav>

    <section id="inventory">
        <div class="container-fluid d-flex justify-content-center" style="height: 100%;">
            <div class="row align-items-center justify-content-around" style="width:100%;">
                <div id="inventory-list" class="inventory-block col-12 col-lg-5">
                    <div class="d-flex">
                        <h4>Inventory</h4>

                        <%- include("./newItemModal") %>


                        <div class="inventory-scroll-list">

                            <!-- Each Item -->
                            <% itemList.forEach((item) => { %>
                            <div class="inventory-item">

                                <div class="d-flex">
                                    <div class="item-title"><Strong><%=item.name%></Strong></div>
                                    <div class="ml-auto item-price"><strong>$<%=item.purchasedPrice%></strong></div>
                                </div>

                                <div class="d-flex" style="max-height: 80%;">
                                    <div>

                                        <div>
                                            <div class="item-info" style="max-height: 50%;">
                                                <strong>Size: <%=item.size%></strong>
                                            </div>
                                            <div class="item-info" style="max-height: 50%;">
                                                <strong>
                                                    <spa class="d-none d-md-inline">Date:</spa> <%=item.purchasedDate%>
                                                </strong>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="edit-links" class=" ml-auto align-self-end align-items-center d-flex">

                                        <%- include("./editItemModal", {item: item}); %>

                                        <form action="/item/<%=item._id%>/clone" method="POST" style="margin-block-end: 0;">
                                            <button class="btn p-0 p-md-2">
                                                <i class="fa fa-clone ml-3" aria-hidden="true" style="color: gray"></i>
                                            </button>
                                        </form>

                                        <button class="btn p-0 p-md-2">
                                            <i class="fa fa-usd ml-3" aria-hidden="true" style="color: rgb(71, 187, 115)"></i>
                                        </button>


                                        <form action="/item/<%=item._id%>?_method=DELETE" method="POST" style="margin-block-end: 0;">
                                            <button class="btn p-0 p-md-2">
                                                <i class="fa fa-trash ml-3" aria-hidden="true" style="color: red"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <% }) %>
                            <!-- Each Item -->

                        </div>
                    </div>
                    <div id="sale-list" class="inventory-block col-12 col-lg-6">
                        <h4>Sales</h4>
                        <div class="inventory-scroll-list">

                        </div>
                    </div>

                    <div id="statistic" class="inventory-block col-12 col-lg-11">
                        <h4>Statistics</h4>
                    </div>
                </div>
            </div>
    </section>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/js/newInventoryModal.js"></script>
</body>

</html>