<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts - Roboto -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--BootStrap 4-->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/inventory.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">

    <title>Stashed</title>
</head>

<body>
    <nav id="navbar" class="align-middle navbar navbar-dark navbar-expand-md fixed-top">
        <a id="navbar-logo" class="navbar-brand" href="#">
            <img src="/images/Icon2.png" width="50" height="50" class="align-middle">
        </a>

        <!-- Collapse Nav When Dimensions Shrink -->
        <button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#navLinks">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--NavBar Links-->
        <div id="navLinks" class="collapse navbar-collapse">
            <!--Right Side Nav Bar-->
            <ul class="navbar-nav ml-auto" style="background-color: rgba(33, 34, 51, 0.7); padding: 10px 15px; border-radius: 25px; margin-right: 20px;">
                <li class="nav-item d-flex">
                    <a class="nav-link align-self-center" href="#statistic"><strong>Statistics</strong></a>
                </li>
            </ul>
            <ul class="navbar-nav d-none d-sm-flex" style="background-color: rgba(33, 34, 51, 0.7); padding: 0px 25px 0px 15px; border-radius: 25px;">
                <li class=" nav-item">
                    <a class="nav-link" href="">
                        <img src="<%= currentUser.discordImage %>" style="border-radius: 25px" width="50" height="50">
                    </a>
                </li>
                <li class="nav-item d-flex">
                    <h5 class="align-self-center" style="margin: 0;"><%= currentUser.name %></h5>
                </li>
            </ul>
        </div>
    </nav>

    <section id="inventory">
        <div class="container-fluid d-flex justify-content-center" style="height: 100%;">
            <div class="row align-items-center justify-content-around" style="width:100%;">

                <div id="inventory-list" class="inventory-block col-12 col-lg-5">
                    <div class="d-flex">
                        <h4>Inventory</h4>
                        <%- include("./newItemModal") %>

                        <div class="inventory-scroll-list">
                            <!-- Each Item -->
                            <% itemList.forEach((item) => { %>
                            <!-- model for each item object -->
                            <%- include("./itemDisplay", {item}); %>
                            <% }) %>
                        </div>
                    </div>

                    <div id="sale-list" class="inventory-block col-12 col-lg-6">

                        <div class="d-flex">
                            <h4>Sales</h4>
                            <%- include("./newSaleModal") %>
                        </div>

                        <div class="inventory-scroll-list">

                            <!-- Each Sale -->
                            <% saleList.forEach((sale) => { %>
                            <!-- model for each sale object -->
                            <%- include("./saleDisplay", {sale}); %>
                            <% }) %>
                        </div>
                    </div>




                    <div id="statistic" class="inventory-block col-12 col-lg-11">
                        <h4>Statistics</h4>
                    </div>
                </div>
            </div>
    </section>

    <!-- Scripts -->
    <!-- <script src="/js/ejs.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/js/inventory.js"></script>
</body>

</html>