<div class="inventory-item">
    <div class="d-flex">
        <div class="item-title"><Strong><%=item.name%></Strong></div>
        <div class="ml-auto item-price"><strong>$<%=item.purchasedPrice%></strong></div>
    </div>

    <div class="d-flex" style="max-height: 80%;">
        <div>

            <div>
                <div class="item-info" style="max-height: 50%;">
                    <strong>Size: <%=item.size%></strong>
                </div>
                <div class="item-info" style="max-height: 50%;">
                    <strong>
                        <span class="d-none d-md-inline d-lg-none d-xl-inline">Date:</span> <%=item.purchasedDate%>
                    </strong>
                </div>
            </div>

        </div>
        <div id="edit-links" class=" ml-auto align-self-end d-flex align-items-center">

            <%- include("./editItemModal", {item}); %>

            <form action="/item/<%=item._id%>/clone" method="POST" style="margin-block-end: 0;">
                <button class="greyButton btn p-0 p-md-2">
                    <i class="fa fa-clone ml-3" aria-hidden="true"></i>
                </button>
            </form>

            <%- include("./ItemToSaleModal", {item}); %>

            <form action="/item/<%=item._id%>?_method=DELETE" method="POST" style="margin-block-end: 0;">
                <button class="deleteButton btn p-0 p-md-2">
                    <i class="fa fa-trash ml-3" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>
</div>