<div id="<%=sale.id%>" class="inventory-item">
    <div class="d-flex">
        <div class="item-title">
            <Strong>
                <span id="<%=sale.id%>-saleName"><%=sale.name%></span>
                <span id="<%=sale.id%>-saleBuyer" class="buyerName d-none d-xl-inline">
                    (<span class="d-none d-xl-inline">Sold To: </span>
                    <%=sale.buyer%>)
                </span>
            </Strong>
        </div>
        <span class="ml-auto item-price">
            <strong>
                <span id="<%=sale.id%>-salePurchasedPrice" class="d-none d-md-inline">$<%=sale.purchasedPrice%> <span style="color:grey">-></span> </span>
                <span id="<%=sale.id%>-saleSoldPrice" style="color:rgb(71, 187, 115);">$<%=sale.soldPrice%></span><span id="<%=sale.id%>-saleProfit" class="profit d-none d-md-inline d-lg-none d-xl-inline"> ($<%=sale.profit%>)</span>
            </strong>
        </span>
    </div>

    <div class="d-flex" style="max-height: 80%;">
        <div>

            <div>
                <div class="item-info" style="max-height: 50%;">
                    <strong id="<%=sale.id%>-saleSize">Size: <%=sale.size%></strong>
                </div>
                <div class="item-info" style="max-height: 50%;">
                    <strong>
                        <span class="d-none d-md-inline">Date:</span> <span id="<%=sale.id%>-salePurchasedDate"><%=sale.purchasedDate%></span>
                    </strong>
                </div>
            </div>

        </div>
        <div id="edit-links" class=" ml-auto align-self-end align-items-center d-flex">

            <%- include("./editSaleModal", {sale}); %>

            <button id="<%=sale.id%>-clone" class="cloneSaleButton btn p-0 p-md-2">
                <i class="fa fa-clone ml-3" aria-hidden="true"></i>
            </button>

            <button id="<%=sale.id%>-delete" class="deleteSaleButton btn p-0 p-md-2">
                <i class="fa fa-trash ml-3" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>